<!-- <mat-card>
    <p *ngFor="let sguli of patientArray">
        {{ sguli.patientId }}
        {{ sguli.patientName }}
        {{ sguli.patientSurname }}
        {{ sguli.patientAge }}
        {{ sguli.patientPhoneNumber }} 
        {{ sguli.patientGender }}
    </p>
</mat-card> -->

<table mdbTable align="center">
    <thead>
        <tr>
            <th  scope="col"> Patient ID</th>
            <th  scope="col"> Patient Name</th>
            <th  scope="col"> Patient Surname</th>
            <th  scope="col"> Patient Age</th>
            <th  scope="col"> Patient Contact Number</th>
            <th  scope="col"> Patient Gender</th>
            <th  scope="col"> Action</th>
        </tr>
    </thead>

    <tbody>
     <tr mdbTableCol *ngFor="let sguli of patientArray">
            <td> {{ sguli.patientId}} </td>
            <td> {{ sguli.patientName}} </td>
            <td> {{ sguli.patientSurname}} </td>
            <td> {{ sguli.patientAge}} </td>
            <td> {{ sguli.patientPhoneNumber}} </td>
            <td> {{ sguli.patientGender}} </td>
            <td>
                <button mat-fab color="primary" [routerLink]="['/patientappointment', sguli.patientId]">Appointment</button>
                <button mat-fab color="warn" (click)="edittask(sguli)"><mat-icon>edit</mat-icon></button>
                <button mat-fab color="warn" (click)="removetask(sguli)"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
   
    </tbody>
</table>
